/* CREATE LISTINGS PAGE */
.listings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 450px;
  padding: 35px;
}

.form-card {
  border: none;
  width: 100%;
  max-width: 900px;
}

#create-listing-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 830px;
  gap: 20px;
  row-gap: 3px;
}

.form-card h2 {
  font-size: 1.5rem;
  text-align: center;
}

.inputs textarea {
  padding: 8px;
}

#create-listing-form .inputs label {
  display: flex;
  text-align: left;
  font-size: 0.9rem;
  font-weight: 600;
  color: rgb(82, 81, 81);
  margin-top: 30px;
}

.form-num-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.form-num-inputs .inputs{
  width: 100px;
}

.price-type-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.price-type-inputs .inputs {
  width: 195px;
}

.price-type-inputs select {
  height: 40px;
  border: 1.5px solid #949393;
  border-radius: 8px;
}

.location select{
  height: 40px;
  border: 1.5px solid #949393;
  border-radius: 8px;
}

.image-upload label {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  gap: 3px;
}
.add-img-btn {
  width: 120px;
  height: 40px;
  color: white;
  background-color: #4254ef;
  border: none;
  border-radius: 8px;
  font-size: 0.87rem;
  cursor: pointer;
}
.image-upload label .image-upload-box {
  height: 90px; 
  cursor: pointer;
}

/* .image-upload-box {
  display: none;
} */

.amenities {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.amenities input {
  width: 320px;
}
.amenities-btn {
  width: 70px;
  height: 40px;
  color: white;
  background-color: #4254ef;
  border: none;
  border-radius: 8px;
  font-size: 0.87rem;
}

.listing-btns {
  display: flex;
  margin-top: 55px;
  gap: 15px;
}
#create-btn {
  width: 120px;
  height: 40px;
  color: white;
  background-color: #4254ef;
  border: none;
  border-radius: 8px;
  font-size: 0.87rem;
}
#cancel-btn {
  width: 120px;
  height: 40px;
  color: white;
  background-color: #ef386c;
  border: none;
  border-radius: 8px;
  font-size: 0.87rem;
}