.reservation-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
}

h2{
    padding: 20px;
}

.reservation-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border: 1px solid rgb(154, 152, 152);
    width: 1000px;
}