.reservation-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    color: black;
}

h2{
    padding: 20px;
}

.reservation-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 1000px;
    border: 1px solid black;
    justify-content: center;
    text-align: center;
}

.account-holder, .property-name, .checkinDate, .checkoutDate, .actions {
    border-right: 1px solid black;
}

.reservation-list h3 {
    border-bottom: 1px solid black;
    font-size: 1rem;
}

.deleteres-btn {
    width: 120px;
    height: 30px;
    background-color: rgb(215, 47, 47);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 8px;
    cursor: pointer;
}