* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* LOGIN PAGE */
.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
}

.login-page header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
}
.login-page header img {
  width: 70px;
  height: 40px;
}

.login-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 500px;
  height: 450px;
}

h2 {
  font-size: 2rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 400px;
}
.login-card .inputs label {
  display: flex;
  text-align: left;
  font-size: 0.9rem;
  font-weight: 600;
  color: #4254ef;
  margin-top: 30px;
}

input {
  height: 40px;
  border-radius: 8px;
  border: 1.5px solid #949393;
  padding: 0 8px;
}

.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#login-btn {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 45px;
  padding: 7px 12px;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: #4254ef;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
#login-btn:hover {
  background-color: #3044f1;
}

.error-banner {
  background-color: white;
  color: rgb(212, 8, 8);
  padding: 12px;
  font-size: 1rem;
  font-weight: 500;
}

/* DASHBOARD/ HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: black;
  color: white;
  width: 100vw;
  height: 70px;
}

.logo {
  width: 70px;
  height: 40px;
}

.logout-btn {
  text-align: center;
  padding: 7px 12px;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: #ef386c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* CREATE LISTINGS PAGE */
.listings-container {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  min-height: 450px;
}

.form-card {
  border: none;
  border-radius: 10px;
  padding: 35px;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); */
  width: 100%;
  max-width: 900px;
}

#create-listing-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 830px;
  gap: 20px;
  row-gap: 3px;
}

.form-card h2 {
  font-size: 1.5rem;
  text-align: center;
}

.inputs textarea {
  padding: 8px;
}

#create-listing-form .inputs label {
  display: flex;
  text-align: left;
  font-size: 0.9rem;
  font-weight: 600;
  color: rgb(82, 81, 81);
  margin-top: 30px;
}

.form-num-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.form-num-inputs .inputs{
  width: 100px;
}

.price-type-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.price-type-inputs .inputs {
  width: 195px;
}

.price-type-inputs select {
  height: 40px;
  border: 1.5px solid #949393;
  border-radius: 8px;
}

.location select{
  height: 40px;
  border: 1.5px solid #949393;
  border-radius: 8px;
}

.image-upload label {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  gap: 3px;
}
.add-img-btn {
  width: 120px;
  height: 40px;
  color: white;
  background-color: #4254ef;
  border: none;
  border-radius: 8px;
  font-size: 0.87rem;
}
.image-upload label .image-upload-box {
  height: 90px; 
}

.amenities {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.amenities input {
  width: 320px;
}
.amenities-btn {
  width: 70px;
  height: 40px;
  color: white;
  background-color: #4254ef;
  border: none;
  border-radius: 8px;
  font-size: 0.87rem;
}

.listing-btns {
  display: flex;
  margin-top: 55px;
  gap: 15px;
}
#create-btn {
  width: 120px;
  height: 40px;
  color: white;
  background-color: #4254ef;
  border: none;
  border-radius: 8px;
  font-size: 0.87rem;
}
#cancel-btn {
  width: 120px;
  height: 40px;
  color: white;
  background-color: #ef386c;
  border: none;
  border-radius: 8px;
  font-size: 0.87rem;
}

/* DASHBOARD STYLES */
.dashboard-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 40px;
}

.property-card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.image-container {
  width: 160px;
  height: 140px;
  object-fit: cover;
}

.card-details {
  padding: 20px;
}