* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* LOGIN PAGE */
.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0 15px;
  background-color: white;
}

.login-page header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
}
.login-page header img {
  width: 70px;
  height: 40px;
}

.login-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 500px;
  height: 450px;
}

h2 {
  font-size: 2rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 400px;
}
.login-card .inputs label {
  display: flex;
  text-align: left;
  font-size: 0.9rem;
  font-weight: 600;
  color: #4254ef;
  margin-top: 30px;
}

input {
  height: 40px;
  border-radius: 8px;
  border: 1.5px solid #949393;
  padding: 0 8px;
}

.login-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.login-btn p {
  color: #3044f1;
}

#login-btn {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 45px;
  padding: 7px 12px;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: #4254ef;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
#login-btn:hover {
  background-color: #3044f1;
}

.error-banner {
  background-color: white;
  color: rgb(212, 8, 8);
  padding: 12px;
  font-size: 1rem;
  font-weight: 500;
}

/* DASHBOARD/ HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: black;
  color: white;
  width: 100vw;
  height: 70px;
}

.logo {
  width: 70px;
  height: 40px;
}

/* DASHBOARD STYLES */
.dashboard-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

.property-card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.image-container {
  width: 660px;
  height: 440px;
  object-fit: cover;
}

.card-details {
  padding: 20px;
}

/* NOTIFICATION STYLES */
.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  gap: 10px;
  animation: slideIn 0.5s ease-in-out;
}

.notification-icon {
  font-size: 18px;
}

.notification.error {
  background-color: #ffebee;
  border: 1px solid #c62828;
  color: #c62828;
}

.notification.success {
  background-color: #e8f5e9;
  color: #2e7d32;
}